<a href="https://colab.research.google.com/github/KeeganFernandesWork/machine_hack/blob/main/machine_hack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
%%capture
!git clone https://github.com/KeeganFernandesWork/machine_hack.git

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
train = pd.read_csv("machine_hack/train.csv")
test = pd.read_csv("machine_hack/test.csv")
submission = pd.read_csv("machine_hack/submission.csv")
train

,orderID,orderTime,userID,couponID,price,basePrice,reward,premiumProduct,productGroup,categoryIDs,couponUsed
0,3829,2015-02-17 15:49:32,37aa37a3d4db63cfedbf976daddebf5c,a35974920ba3c9b3a6e50a89910e6b81,9.170000,2.040000,0.940000,1,c06dc2b4a5f7ecdfa27a83acf7a29423,"b7e3b0110f96213f5087034b92be487a,667daa357f899...",1
1,4805,2015-02-25 20:28:10,a8336131974a67f838d998609c0e2604,3867cafee56ece2ea5f8db4815cadcb6,11.580000,4.820000,1.260000,0,369e08938fbb263ee8d7700a909231c3,f03040c27bfa597712980825477b32d5,0
2,1658,2015-02-28 23:30:58,f929ef735361e29928150e526255e4a4,cb82eed23c715dc002ce4d8070aedaf7,6.308566,4.385443,1.942977,0,766fb91efebff83f298f780e7524b276,b7e3b0110f96213f5087034b92be487a,0
3,2029,2015-01-28 15:28:08,0ceee2ae489c5c68a483c0c3cd6d9b54,148c8d0134dc05ce921c489983558b93,3.330000,3.330000,1.570000,0,3e1c802d7407a4d2ff7eec1482f53fb5,e73355e7a58b57d741111e7ab3855265,0
4,4703,2015-02-25 11:22:34,2cb1dc0de7a4be59f58d87fdefa91a59,3c788027ffc11385ebda482981af8637,1.943101,1.157082,1.935554,1,113593efe095675415192b4aa1ab8653,796c5815752a170021838a78bf7fab34,0
...,...,...,...,...,...,...,...,...,...,...,...
11682,2607,2015-01-21 00:04:23,fc406ae38489f024fe86d661cc7f4be5,cd241de1403986e31247cf297a4e554e,6.836333,2.811702,1.276536,0,a7ac75fff375132f9b4753d55aada511,"e73355e7a58b57d741111e7ab3855265,a0ae3bad823be...",0
11683,1475,2015-01-20 22:39:52,5b0264b8b02a78bd3fdad7ca31fdb60a,959f54c25233daca145a20c103a27cc7,5.840000,5.840000,1.570000,0,c2edc4102bfcb5992539274018c6e1ef,b7e3b0110f96213f5087034b92be487a,0
11684,2722,2015-02-26 11:20:30,e481f5b99d13beb378d7b98bc4053589,98487ebf7d685280572b7e6ab4461c5a,5.409767,2.374913,1.587169,0,bfdca7185ad7366f965590bab1417db5,b7e3b0110f96213f5087034b92be487a,0
11685,1124,2015-01-16 10:50:56,7b088b1590ded8fb040d8554a5b48efe,51b6ff5ce0225b1fe5a442b2d2e139a8,2.320000,0.460000,0.630000,0,f0b887f83f4eee519485cd646640e308,"b78123c345b9f8a300a7fac7a735a8bd,a0ae3bad823be...",0
11686,99,2015-02-13 16:09:42,7703816939607808b4052b0e50196c2c,45d9467a4a239bf95bd1cd9d02def17d,4.422869,1.271214,1.276779,1,fbfe2213c9cd7c4c8e922d6d1d92cf66,b7e3b0110f96213f5087034b92be487a,0

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11687 entries, 0 to 11686
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderID         11687 non-null  int64
 1   orderTime       11687 non-null  object
 2   userID          11687 non-null  object
 3   couponID        11687 non-null  object
 4   price           11687 non-null  float64
 5   basePrice       11687 non-null  float64
 6   reward          11687 non-null  float64
 7   premiumProduct  11687 non-null  int64
 8   productGroup    11687 non-null  object
 9   categoryIDs     11687 non-null  object
 10  couponUsed      11687 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 1004.5+ KB

Output feature: couponUsed : It is an binary category which contains the information wether the client has redeemed the coupon

Input Features:

orderID : Order unique identification number</br>
orderTime : The time of order placed</br>
userID : The unique identification number of the customer</br>
couponID : Identifier for the coupon</br>
price : Current price of the coupon</br>
basePrice : Original price of the coupon</br>
reward : Score value for the value-added of the product of the retailer</brn>
premiumProduct : Indicator whether the coupon product is a premium product</br>
brand : Brand of the coupon product</br>
productGroup : Product line of the coupon product</br>
categoryIDs : Identifier of the categories of the coupon product</br>
couponUsed : Indicator for the coupon which is redeemed 0 (did not redeem) and 1(did redeem).</br>